

<ion-content class="profile-bg">

  <ion-grid>

    <ion-row>

      <ion-col size-xl="6" offset-xl="3">

        <div class="profile-service">
          <h3 class="login-header">New Customer</h3>
          
           <ion-row class="profile-pg">
            <ion-col size="12">
              <p class="work-p">Customer Information</p>
              
              <ion-list>
                <ion-radio-group value="biff">
                  <ion-list-header>
                    <ion-label>Customer Type</ion-label>
                  </ion-list-header>
              
                  <ion-item>
                    <ion-label>Business</ion-label>
                    <ion-radio slot="start" value="biff"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Individual</ion-label>
                    <ion-radio slot="start" value="griff"></ion-radio>
                  </ion-item>
              
                </ion-radio-group>
              </ion-list>
            </ion-col>
            <ion-row>
              <ion-col size="4">
                <p class="work-p">Salutation</p>
                  <ion-item lines="none" class="locate-it input">
                    
                    <ion-input placeholder=""> </ion-input>
                  </ion-item>
              </ion-col>
              <ion-col size="8">
                <p class="work-p">First Name</p>
                  <ion-item lines="none" class="locate-it input">
                    
                    <ion-input placeholder=""> </ion-input>
  
                  </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-col size="12">
              <p class="work-p">Last Name</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""> </ion-input>

                </ion-item>
            </ion-col>
            <ion-col size="12">
              <p class="work-p">Company Name</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""></ion-input>

                </ion-item>
            </ion-col>
            <ion-col size="12">
              <p class="work-p">Customer Display Name</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""></ion-input>

                </ion-item>
            </ion-col>

            <ion-col size="12">
              <p class="work-p">Email</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""></ion-input>

                </ion-item>
            </ion-col>
            <ion-row>
              <ion-col size="6">
                <p class="work-p">Phone</p>
                  <ion-item lines="none" class="locate-it input">
                    
                    <ion-input placeholder=""> </ion-input>
                  </ion-item>
              </ion-col>
              <ion-col size="6">
                <p class="work-p">Mobile</p>
                  <ion-item lines="none" class="locate-it input">
                    
                    <ion-input placeholder=""> </ion-input>
  
                  </ion-item>
              </ion-col>
            </ion-row>
            
          </ion-row>

        </div>

        <div class="profile-2">
          
           <ion-row class="profile-pg">
            <ion-col size="12">
              <p class="work-p">Currency</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""> </ion-input>

                </ion-item>
            </ion-col>
            <ion-col size="12">
              <p class="work-p">Payment Terms</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder=""> </ion-input>

                </ion-item>
            </ion-col>
            <ion-col size="12">
              <p class="work-p">Other Details</p>
              
              <ion-list>
                <ion-radio-group value="biff">
                  <ion-list-header>
                    <ion-label>Enable Portal?</ion-label>
                  </ion-list-header>
              
              
                  <ion-item>
                    <ion-label>Allow portal access for this customer</ion-label>
                    <ion-radio slot="start" value="griff"></ion-radio>
                  </ion-item>
              
                </ion-radio-group>
              </ion-list>
            </ion-col>
            
           
          </ion-row>

        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
