ion-card {
    margin: 3px 10px 18px 10px;
    border-radius: 3px;
  
    ion-card-content {
      padding: 2%
    }
  }
  .pay-date h3 {
    font-size: 18px;
    font-weight: 600;
}
.pay-date p {
    font-size: 14px;
   
}
.heading-1 {
    padding: 0px 10px;
}
.amount-invoice {
    margin-top: 17%;
    float: right;
}
.invoice-header{
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

// .item-sjd{
//     background:#cccccc66!important;
// }
