

<ion-content class="profile-bg">

  <ion-grid>

    <ion-row>

      <ion-col size-xl="6" offset-xl="3">

        <div class="profile-service">
         
           <ion-row class="profile-pg">
            <ion-col size="12">
              <p class="work-p">Payment Terms</p>
                <ion-item lines="none" class="locate-it input">

                  <ion-input placeholder="15 Days"> </ion-input>

                </ion-item>
            </ion-col>
           
            <ion-col size="12">
              <p class="work-p">Account Manager</p>
                <ion-item lines="none" class="locate-it input">
                  
                  <ion-select placeholder="Pinky">
                    <ion-select-option>Pinky</ion-select-option>
                    <ion-select-option>Shilpa</ion-select-option>
                  </ion-select>

                </ion-item>
            </ion-col>
          
            <ion-col size="12">
              <p class="work-p"> Primary Mode of Communication</p>
                <ion-item lines="none">
                  <ion-checkbox color="primary"></ion-checkbox>
                  <p class="work-p"> Email</p>
                  <ion-checkbox color="secondary" style="margin-left: 5%;"></ion-checkbox>
                  <p class="work-p"> SMS</p>
                  <ion-checkbox color="danger" style="margin-left: 5%;"></ion-checkbox>
                  <p class="work-p"> IVR</p>
                </ion-item>
            </ion-col>

           </ion-row>

           <ion-row>
             <ion-col size="9">
               <p>Automated Reminder <ion-icon name="alert-circle-outline"></ion-icon></p>
              
              </ion-col>
              <ion-col size="3">
                
               <ion-toggle color="primary"></ion-toggle>
               </ion-col>
           </ion-row>
           <ion-row>
            <ion-col size="9">
              <p>Credit Control <ion-icon name="alert-circle-outline"></ion-icon></p>
             
             </ion-col>
             <ion-col size="3">
               
              <ion-toggle color="primary"></ion-toggle>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="work-p"> Contact Details</p>
              <div class="cnct-details">
                <p>kuldeepsingh@vyaparkhata.in</p>
                <p>+91-8787678987</p>
                <p>+91-8787678987</p>
              </div>

              <div class="cnct-details">
                <p>kuldeepsingh22@gmail.com</p>
                <p>+91-8787678987</p>
                <p>+91-8787678987</p>
              </div>

            </ion-col>
          </ion-row>

           <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" >Add Contact</ion-button>
            </ion-col>
           </ion-row>

        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
