<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: aliceblue;">
  <div class="flex-box">
    <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" width="80" height="80" />
    <div class="ion-margin-start">
      <h2>Demo Data</h2>
      <p>Last Sync: {{ today | date }} {{ today | date: 'HH:mm' }}</p>
    </div>
    <ion-icon name="chevron-down-outline" style="font-size: 20px; margin-left: 8%;"></ion-icon>
  </div>
  <ion-searchbar mode="md" placeholder="Search Vendor, Customer or Items"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <ion-list style="background: transparent;">
          <ion-card>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label slot="start">
                  <strong>My CredFlow</strong>
                </ion-label>
                <ion-label slot="end" color="primary">Customise</ion-label>
              </ion-item>
              <ion-item-divider class="item-header ion-margin-vertical">Sales</ion-item-divider>
              <ion-row>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="person-outline" color="primary"></ion-icon>
                    <ion-label>Customers</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="person-outline" color="primary"></ion-icon>
                    <ion-label>Invoice</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="person-outline" color="primary"></ion-icon>
                    <ion-label>Receipts</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="person-outline" color="primary"></ion-icon>
                    <ion-label>CrNotes</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="person-outline" color="primary"></ion-icon>
                    <ion-label>Emandate</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-item-divider class="item-header ion-margin-vertical">Purchases</ion-item-divider>
              <ion-row>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="people-outline" color="primary"></ion-icon>
                    <ion-label>Vendors</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="people-outline" color="primary"></ion-icon>
                    <ion-label>Bills</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="people-outline" color="primary"></ion-icon>
                    <ion-label>Payments</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="people-outline" color="primary"></ion-icon>
                    <ion-label>DrNotes</ion-label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="div-grid">
                    <ion-icon name="people-outline" color="primary"></ion-icon>
                    <ion-label>Paynow</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label slot="start">
                  <strong>Cashflow</strong>
                </ion-label>
              </ion-item>
              <ion-list>
                <ion-item lines="none" *ngFor="let i of [1,2,3,4,5]" detail="true">
                  <ion-icon name="download-outline" color="success"></ion-icon>
                  <ion-label class="ion-padding-start">Receieved</ion-label>
                  <ion-label slot="end">{{ '20000' | currency: 'INR' }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-badge color="success">New</ion-badge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>